Olá,<strong> {{ organizer }}</strong>
<p> Houve uma nova inscrição no seu evento: </p>
<p>
  <strong>Título:</strong> {{ title }} <br />
  <strong>Data:</strong> {{ meetupDate }}
</p>
<p>Realizada por: </p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data da inscrição: </strong> {{ subscriptionDate }} <br />
</p>
